* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  color: #ffffff;
  overflow-x: hidden;
}

.container-full {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  height: 45vh;
  width: 100%;
  background-color: #1d539e;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container2 {
  position: absolute;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  bottom: -30vh;
}

.content {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 21vh;
}

header {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

header h1 {
  font-weight: 700;
  font-size: 3rem;
  line-height: 4.063rem;
  margin: 6% auto 2%;
}

header .sub-title {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.563rem;
  text-align: center;
  width: 89%;
}

.plans {
  display: flex;
  gap: 1.25rem;
  color: #1e2338;
  margin: 0 auto;
  justify-content: center;
  width: 95vw;
  flex-wrap: wrap;
  height: auto;
}

.plan {
  background-color: #ffffff;
  border-radius: 0.652rem;
  width: 29vw;
  height: auto;
  display: flex;
  flex-direction: column;
}

.plan-free,
.plan-profissional {
  margin-top: 5.8%;
}

.plan-basic {
  margin-top: 5.2%;
}

.popular {
  width: 100%;
}

.agroup-basic-popular {
  width: 100%;
  height: auto;
  background: #ffcc29;
  box-shadow: 0 0.063rem 0.125rem rgba(142, 150, 185, 0.25);
  border-radius: 0.625rem;
}

.agroup-basic-popular {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.paragraph-basic {
  width: 24%;
  height: 30%;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.688rem;
  color: #1d539e;
  margin: 6% 0 6% 6%;
}

.border {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
  width: 22%;
  height: auto;
  background: #1d539e;
  border-radius: 2.5rem;
  font-weight: 600;
  font-size: 90%;
  line-height: 1rem;
  color: #ffffff;
  margin: 5%;
}

.plan-basic .value {
  margin: 3% 6%;
}

.plan-free .value,
.plan-profissional .value {
  margin: 0 0 3% 6%;
}

.value .paragraph-plan-basic,
.value .paragraph-plan-profissional {
  margin: 7% 0 5.5% 3%;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.563rem;
}

.value .title-value {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 3.063rem;
}

.value .title-value .small {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.563rem;
}

.value .title-value .small .gray {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.563rem;
  color: #828799;
  margin-left: 1.5%;
}

.value .description-plan {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.188rem;
  color: #828799;
  margin: 3% 2.063rem 5% 0;
  width: 87%;
}

.divisor {
  width: 90%;
  margin: 0 auto;
}

.advantages {
  margin: 4% 8% 20% 7%;
  width: 90%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

.plan-profissional .advantages {
  margin-bottom: 18%;
}

.advantages .img-check {
  width: 1.125rem;
  height: 1.125rem;
  margin-right: 0.938rem;
}

.advantage {
  display: flex;
  align-items: center;
  margin-top: 3%;
  margin-right: 10%;
}

.advantages .advantage:nth-of-type(1) {
  margin-top: 0;
}

.plan-free .advantages .advantage:nth-last-of-type(1) {
  margin-bottom: 17.6%;
}

.button-advantage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 3.063rem;
  border: 0.063rem solid #1d539e;
  border-radius: 0.625rem;
  margin: 0 auto;
}

.plan-free .button-advantage:hover,
.plan-free .button-advantage:hover button:hover,
.plan-profissional .button-advantage:hover,
.plan-profissional .button-advantage:hover button:hover {
  background-color: #1d539e;
  color: #ffffff;
  transition: 0.5s ease-in;
}

.plan-basic .button-advantage:hover,
.plan-basic .button-advantage button:hover {
  background-color: #ffffff;
  color: #1d539e;
  transition: 0.5s ease-in;
}

.plan-basic .advantages {
  margin-bottom: 23%;
}

button {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.563rem;
  border: none;
  color: #1d539e;
  background-color: transparent;
  width: 100%;
  height: 100%;
  border-radius: 0.625rem;
}

.plan-basic .button-advantage,
.plan-basic button {
  background-color: #1d539e;
  color: #ffffff;
}

footer {
  margin-top: 5%;
  padding-bottom: 5%;
}

.credits h4,
a {
  color: #1d539e;
  text-align: center;
}

@media (max-width: 1440px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    color: #ffffff;
    overflow-x: hidden;
  }

  .container-full {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container {
    height: 51vh;
    width: 100%;
    background-color: #1d539e;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container2 {
    position: absolute;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    bottom: -22vh;
  }

  .content {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 21vh;
  }

  header {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
  }

  header h1 {
    font-weight: 700;
    font-size: 3rem;
    line-height: 4.063rem;
    margin: 6% auto 2%;
  }

  header .sub-title {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.563rem;
    text-align: center;
    width: 89%;
  }

  .plans {
    display: flex;
    gap: 1.25rem;
    color: #1e2338;
    margin: 0 auto;
    justify-content: center;
    width: 95vw;
    flex-wrap: wrap;
    height: auto;
  }

  .plan {
    background-color: #ffffff;
    border-radius: 0.652rem;
    width: 29vw;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .plan-free,
  .plan-profissional {
    margin-top: 5.8%;
  }

  .plan-basic {
    margin-top: 5.2%;
  }

  .popular {
    width: 100%;
  }

  .agroup-basic-popular {
    width: 100%;
    height: auto;
    background: #ffcc29;
    box-shadow: 0 0.063rem 0.125rem rgba(142, 150, 185, 0.25);
    border-radius: 0.625rem;
  }

  .agroup-basic-popular {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .paragraph-basic {
    width: 24%;
    height: 30%;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.688rem;
    color: #1d539e;
    margin: 6% 0 6% 6%;
  }

  .border {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    width: 22%;
    height: auto;
    background: #1d539e;
    border-radius: 2.5rem;
    font-weight: 600;
    font-size: 90%;
    line-height: 1rem;
    color: #ffffff;
    margin: 5%;
  }

  .plan-basic .value {
    margin: 3% 6%;
  }

  .plan-free .value,
  .plan-profissional .value {
    margin: 0 0 3% 6%;
  }

  .value .paragraph-plan-basic,
  .value .paragraph-plan-profissional {
    margin: 7% 0 5.5% 3%;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.563rem;
  }

  .value .title-value {
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 3.063rem;
  }

  .value .title-value .small {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.563rem;
  }

  .value .title-value .small .gray {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.563rem;
    color: #828799;
    margin-left: 1.5%;
  }

  .value .description-plan {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.188rem;
    color: #828799;
    margin: 3% 2.063rem 5% 0;
    width: 87%;
  }

  .divisor {
    width: 90%;
    margin: 0 auto;
  }

  .advantages {
    margin: 4% 8% 20% 7%;
    width: 90%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
  }

  .plan-profissional .advantages {
    margin-bottom: 18%;
  }

  .advantages .img-check {
    width: 1.125rem;
    height: 1.125rem;
    margin-right: 0.938rem;
  }

  .advantage {
    display: flex;
    align-items: center;
    margin-top: 3%;
    margin-right: 10%;
  }

  .advantages .advantage:nth-of-type(1) {
    margin-top: 0;
  }

  .plan-free .advantages .advantage:nth-last-of-type(1) {
    margin-bottom: 17.6%;
  }

  .button-advantage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 3.063rem;
    border: 0.063rem solid #1d539e;
    border-radius: 0.625rem;
    margin: 0 auto;
  }

  .plan-free .button-advantage:hover,
  .plan-free .button-advantage:hover button:hover,
  .plan-profissional .button-advantage:hover,
  .plan-profissional .button-advantage:hover button:hover {
    background-color: #1d539e;
    color: #ffffff;
    transition: 0.5s ease-in;
  }

  .plan-basic .button-advantage:hover,
  .plan-basic .button-advantage button:hover {
    background-color: #ffffff;
    color: #1d539e;
    transition: 0.5s ease-in;
  }

  .plan-basic .advantages {
    margin-bottom: 23%;
  }

  button {
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.563rem;
    border: none;
    color: #1d539e;
    background-color: transparent;
    width: 100%;
    height: 100%;
    border-radius: 0.625rem;
  }

  .plan-basic .button-advantage,
  .plan-basic button {
    background-color: #1d539e;
    color: #ffffff;
  }

  footer {
    margin-top: 5%;
    padding-bottom: 5%;
  }

  .credits h4,
  a {
    color: #1d539e;
    text-align: center;
  }
}

@media (max-width: 1380px) {
  .container2 {
    bottom: -26vh;
  }
}

@media (max-width: 1280px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    color: #ffffff;
    overflow-x: hidden;
  }

  .container-full {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container {
    height: 51vh;
    width: 100%;
    background-color: #1d539e;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container2 {
    position: absolute;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    bottom: -30vh;
  }

  .content {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 21vh;
  }

  header {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
  }

  header h1 {
    font-weight: 700;
    font-size: 3rem;
    line-height: 4.063rem;
    margin: 6% auto 2%;
  }

  header .sub-title {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.563rem;
    text-align: center;
    width: 89%;
  }

  .plans {
    display: flex;
    gap: 1.25rem;
    color: #1e2338;
    margin: 0 auto;
    justify-content: center;
    width: 95vw;
    flex-wrap: wrap;
    height: auto;
  }

  .plan {
    background-color: #ffffff;
    border-radius: 0.652rem;
    width: 29vw;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .plan-free,
  .plan-profissional {
    margin-top: 5.8%;
  }

  .plan-basic {
    margin-top: 5.2%;
  }

  .popular {
    width: 100%;
  }

  .agroup-basic-popular {
    width: 100%;
    height: auto;
    background: #ffcc29;
    box-shadow: 0 0.063rem 0.125rem rgba(142, 150, 185, 0.25);
    border-radius: 0.625rem;
  }

  .agroup-basic-popular {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .paragraph-basic {
    width: 24%;
    height: 30%;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.688rem;
    color: #1d539e;
    margin: 6% 0 6% 6%;
  }

  .border {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    width: 22%;
    height: auto;
    background: #1d539e;
    border-radius: 2.5rem;
    font-weight: 600;
    font-size: 90%;
    line-height: 1rem;
    color: #ffffff;
    margin: 5%;
  }

  .plan-basic .value {
    margin: 3% 6%;
  }

  .plan-free .value,
  .plan-profissional .value {
    margin: 0 0 3% 6%;
  }

  .value .paragraph-plan-basic,
  .value .paragraph-plan-profissional {
    margin: 7% 0 5.5% 3%;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.563rem;
  }

  .value .title-value {
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 3.063rem;
  }

  .value .title-value .small {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.563rem;
  }

  .value .title-value .small .gray {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.563rem;
    color: #828799;
    margin-left: 1.5%;
  }

  .value .description-plan {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.188rem;
    color: #828799;
    margin: 3% 2.063rem 5% 0;
    width: 87%;
  }

  .divisor {
    width: 90%;
    margin: 0 auto;
  }

  .advantages {
    margin: 4% 8% 20% 7%;
    width: 90%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
  }

  .plan-profissional .advantages {
    margin-bottom: 18%;
  }

  .advantages .img-check {
    width: 1.125rem;
    height: 1.125rem;
    margin-right: 0.938rem;
  }

  .advantage {
    display: flex;
    align-items: center;
    margin-top: 3%;
    margin-right: 10%;
  }

  .advantages .advantage:nth-of-type(1) {
    margin-top: 0;
  }

  .plan-free .advantages .advantage:nth-last-of-type(1) {
    margin-bottom: 17.6%;
  }

  .button-advantage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 3.063rem;
    border: 0.063rem solid #1d539e;
    border-radius: 0.625rem;
    margin: 0 auto;
  }

  .plan-free .button-advantage:hover,
  .plan-free .button-advantage:hover button:hover,
  .plan-profissional .button-advantage:hover,
  .plan-profissional .button-advantage:hover button:hover {
    background-color: #1d539e;
    color: #ffffff;
    transition: 0.5s ease-in;
  }

  .plan-basic .button-advantage:hover,
  .plan-basic .button-advantage button:hover {
    background-color: #ffffff;
    color: #1d539e;
    transition: 0.5s ease-in;
  }

  .plan-basic .advantages {
    margin-bottom: 23%;
  }

  button {
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.563rem;
    border: none;
    color: #1d539e;
    background-color: transparent;
    width: 100%;
    height: 100%;
    border-radius: 0.625rem;
  }

  .plan-basic .button-advantage,
  .plan-basic button {
    background-color: #1d539e;
    color: #ffffff;
  }

  footer {
    margin-top: 5%;
    padding-bottom: 5%;
  }

  .credits h4,
  a {
    color: #1d539e;
    text-align: center;
  }
}

@media (max-width: 1019px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    color: #ffffff;
    overflow-x: hidden;
  }

  .container-full {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container {
    height: 59vh;
    width: 100%;
    background-color: #1d539e;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container2 {
    position: absolute;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    bottom: -37vh;
  }

  .content {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 21vh;
  }

  header {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
  }

  header h1 {
    font-weight: 700;
    font-size: 3rem;
    line-height: 4.063rem;
    margin: 6% auto 2%;
  }

  header .sub-title {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.563rem;
    text-align: center;
    width: 89%;
  }

  .plans {
    display: flex;
    gap: 1.25rem;
    color: #1e2338;
    margin: 0 auto;
    justify-content: center;
    width: 95vw;
    flex-wrap: wrap;
    height: auto;
  }

  .plan {
    background-color: #ffffff;
    border-radius: 0.652rem;
    width: 29vw;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .plan-free,
  .plan-profissional {
    margin-top: 5.8%;
  }

  .plan-basic {
    margin-top: 5.2%;
  }

  .popular {
    width: 100%;
  }

  .agroup-basic-popular {
    width: 100%;
    height: auto;
    background: #ffcc29;
    box-shadow: 0 0.063rem 0.125rem rgba(142, 150, 185, 0.25);
    border-radius: 0.625rem;
  }

  .agroup-basic-popular {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .paragraph-basic {
    width: 24%;
    height: 30%;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.688rem;
    color: #1d539e;
    margin: 6% 0 6% 6%;
  }

  .border {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    width: 22%;
    height: auto;
    background: #1d539e;
    border-radius: 2.5rem;
    font-weight: 600;
    font-size: 90%;
    line-height: 1rem;
    color: #ffffff;
    margin: 5%;
  }

  .plan-basic .value {
    margin: 3% 6%;
  }

  .plan-free .value,
  .plan-profissional .value {
    margin: 0 0 3% 6%;
  }

  .value .paragraph-plan-basic,
  .value .paragraph-plan-profissional {
    margin: 7% 0 5.5% 3%;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.563rem;
  }

  .value .title-value {
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 3.063rem;
  }

  .value .title-value .small {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.563rem;
  }

  .value .title-value .small .gray {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.563rem;
    color: #828799;
    margin-left: 1.5%;
  }

  .value .description-plan {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.188rem;
    color: #828799;
    margin: 3% 2.063rem 5% 0;
    width: 87%;
  }

  .divisor {
    width: 90%;
    margin: 0 auto;
  }

  .advantages {
    margin: 4% 8% 20% 7%;
    width: 90%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
  }

  .plan-free .advantages {
    margin-bottom: 37%;
  }

  .plan-profissional .advantages {
    margin-bottom: 18%;
  }

  .advantages .img-check {
    width: 1.125rem;
    height: 1.125rem;
    margin-right: 0.938rem;
  }

  .advantage {
    display: flex;
    align-items: center;
    margin-top: 3%;
    margin-right: 10%;
  }

  .advantages .advantage:nth-of-type(1) {
    margin-top: 0;
  }

  .plan-free .advantages .advantage:nth-last-of-type(1) {
    margin-bottom: 17.6%;
  }

  .button-advantage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 3.063rem;
    border: 0.063rem solid #1d539e;
    border-radius: 0.625rem;
    margin: 0 auto;
  }

  .plan-free .button-advantage:hover,
  .plan-free .button-advantage:hover button:hover,
  .plan-profissional .button-advantage:hover,
  .plan-profissional .button-advantage:hover button:hover {
    background-color: #1d539e;
    color: #ffffff;
    transition: 0.5s ease-in;
  }

  .plan-basic .button-advantage:hover,
  .plan-basic .button-advantage button:hover {
    background-color: #ffffff;
    color: #1d539e;
    transition: 0.5s ease-in;
  }

  .plan-basic .advantages {
    margin-bottom: 23%;
  }

  button {
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.563rem;
    border: none;
    color: #1d539e;
    background-color: transparent;
    width: 100%;
    height: 100%;
    border-radius: 0.625rem;
  }

  .plan-basic .button-advantage,
  .plan-basic button {
    background-color: #1d539e;
    color: #ffffff;
  }

  footer {
    margin-top: 5%;
    padding-bottom: 5%;
  }

  .credits h4,
  a {
    color: #1d539e;
    text-align: center;
  }
}

@media (max-width: 835px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    color: #ffffff;
    overflow-x: hidden;
  }

  .container-full {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container {
    height: 55vh;
    width: 100%;
    background-color: #1d539e;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container2 {
    position: absolute;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    bottom: -28vh;
  }

  .content {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 21vh;
  }

  header {
    width: 77%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
  }

  header h1 {
    font-weight: 700;
    font-size: 3rem;
    line-height: 4.063rem;
    margin: 6% auto 2%;
  }

  header .sub-title {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.563rem;
    text-align: center;
    width: 89%;
  }

  .plans {
    display: flex;
    gap: 1.25rem;
    color: #1e2338;
    margin: 0 auto;
    justify-content: center;
    width: 95vw;
    flex-wrap: wrap;
    height: auto;
  }

  .plan {
    background-color: #ffffff;
    border-radius: 0.652rem;
    width: 29vw;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .plan-free,
  .plan-profissional {
    margin-top: 5.8%;
  }

  .plan-basic {
    margin-top: 5.2%;
  }

  .popular {
    width: 100%;
  }

  .agroup-basic-popular {
    width: 100%;
    height: auto;
    background: #ffcc29;
    box-shadow: 0 0.063rem 0.125rem rgba(142, 150, 185, 0.25);
    border-radius: 0.625rem;
  }

  .agroup-basic-popular {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .paragraph-basic {
    width: 24%;
    height: 30%;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.688rem;
    color: #1d539e;
    margin: 6% 0 6% 6%;
  }

  .border {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    width: 22%;
    height: auto;
    background: #1d539e;
    border-radius: 2.5rem;
    font-weight: 600;
    font-size: 75%;
    line-height: 1rem;
    color: #ffffff;
    margin: 5%;
  }

  .plan-basic .value {
    margin: 3% 6%;
  }

  .plan-free .value,
  .plan-profissional .value {
    margin: 0 0 3% 6%;
  }

  .value .paragraph-plan-basic,
  .value .paragraph-plan-profissional {
    margin: 7% 0 5.5% 3%;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.563rem;
  }

  .value .title-value {
    font-weight: 700;
    font-size: 2.05rem;
    line-height: 3.063rem;
  }

  .value .title-value .small {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.563rem;
  }

  .value .title-value .small .gray {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.563rem;
    color: #828799;
    margin-left: 1.5%;
  }

  .value .description-plan {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.188rem;
    color: #828799;
    margin: 3% 2.063rem 5% 0;
    width: 87%;
  }

  .divisor {
    width: 90%;
    margin: 0 auto;
  }

  .advantages {
    margin: 4% 8% 20% 7%;
    width: 90%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
  }

  .plan-free .advantages {
    margin-bottom: 44%;
  }

  .plan-profissional .advantages {
    margin-bottom: 18%;
  }

  .advantages .img-check {
    width: 1.125rem;
    height: 1.125rem;
    margin-right: 0.938rem;
  }

  .advantage {
    display: flex;
    align-items: center;
    margin-top: 3%;
    margin-right: 10%;
  }

  .advantages .advantage:nth-of-type(1) {
    margin-top: 0;
  }

  .plan-free .advantages .advantage:nth-last-of-type(1) {
    margin-bottom: 17.6%;
  }

  .button-advantage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 3.063rem;
    border: 0.063rem solid #1d539e;
    border-radius: 0.625rem;
    margin: 0 auto;
  }

  .plan-free .button-advantage:hover,
  .plan-free .button-advantage:hover button:hover,
  .plan-profissional .button-advantage:hover,
  .plan-profissional .button-advantage:hover button:hover {
    background-color: #1d539e;
    color: #ffffff;
    transition: 0.5s ease-in;
  }

  .plan-basic .button-advantage:hover,
  .plan-basic .button-advantage button:hover {
    background-color: #ffffff;
    color: #1d539e;
    transition: 0.5s ease-in;
  }

  .plan-basic .advantages {
    margin-bottom: 23%;
  }

  button {
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.563rem;
    border: none;
    color: #1d539e;
    background-color: transparent;
    width: 100%;
    height: 100%;
    border-radius: 0.625rem;
  }

  .plan-basic .button-advantage,
  .plan-basic button {
    background-color: #1d539e;
    color: #ffffff;
  }

  footer {
    margin-top: 5%;
    padding-bottom: 5%;
  }

  .credits h4,
  a {
    color: #1d539e;
    text-align: center;
  }
}

@media (max-width: 716px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    color: #ffffff;
    overflow-x: hidden;
  }

  .container-full {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container {
    height: 55vh;
    width: 100%;
    background-color: #1d539e;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container2 {
    position: absolute;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    bottom: -37vh;
  }

  .content {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 21vh;
  }

  header {
    width: 77%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
  }

  header h1 {
    font-weight: 700;
    font-size: 3rem;
    line-height: 4.063rem;
    margin: 6% auto 2%;
  }

  header .sub-title {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.563rem;
    text-align: center;
    width: 89%;
  }

  .plans {
    display: flex;
    gap: 1.25rem;
    color: #1e2338;
    margin: 0 auto;
    justify-content: center;
    width: 95vw;
    flex-wrap: wrap;
    height: auto;
  }

  .plan {
    background-color: #ffffff;
    border-radius: 0.652rem;
    width: 29vw;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .plan-free,
  .plan-profissional {
    margin-top: 5.8%;
  }

  .plan-basic {
    margin-top: 5.2%;
  }

  .popular {
    width: 100%;
  }

  .agroup-basic-popular {
    width: 100%;
    height: auto;
    background: #ffcc29;
    box-shadow: 0 0.063rem 0.125rem rgba(142, 150, 185, 0.25);
    border-radius: 0.625rem;
  }

  .agroup-basic-popular {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .paragraph-basic {
    width: 24%;
    height: 30%;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.688rem;
    color: #1d539e;
    margin: 6% 0 6% 6%;
  }

  .border {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    width: 30%;
    height: auto;
    background: #1d539e;
    border-radius: 2.5rem;
    font-weight: 600;
    font-size: 75%;
    line-height: 1rem;
    color: #ffffff;
    margin: 5%;
  }

  .plan-basic .value {
    margin: 3% 6%;
  }

  .plan-free .value,
  .plan-profissional .value {
    margin: 0 0 3% 6%;
  }

  .value .paragraph-plan-basic,
  .value .paragraph-plan-profissional {
    margin: 7% 0 5.5% 3%;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.563rem;
  }

  .value .title-value {
    font-weight: 700;
    font-size: 1.85rem;
    line-height: 3.063rem;
  }

  .value .title-value .small {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.563rem;
  }

  .value .title-value .small .gray {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.563rem;
    color: #828799;
    margin-left: 1.5%;
  }

  .value .description-plan {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.188rem;
    color: #828799;
    margin: 3% 2.063rem 5% 0;
    width: 87%;
  }

  .divisor {
    width: 90%;
    margin: 0 auto;
  }

  .advantages {
    margin: 4% 8% 20% 7%;
    width: 90%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
  }

  .plan-free .advantages {
    margin-bottom: 51%;
  }

  .plan-profissional .advantages {
    margin-bottom: 18%;
  }

  .advantages .img-check {
    width: 1.125rem;
    height: 1.125rem;
    margin-right: 0.938rem;
  }

  .advantage {
    display: flex;
    align-items: center;
    margin-top: 3%;
    margin-right: 10%;
  }

  .advantages .advantage:nth-of-type(1) {
    margin-top: 0;
  }

  .plan-free .advantages .advantage:nth-last-of-type(1) {
    margin-bottom: 17.6%;
  }

  .button-advantage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 3.063rem;
    border: 0.063rem solid #1d539e;
    border-radius: 0.625rem;
    margin: 0 auto;
  }

  .plan-free .button-advantage:hover,
  .plan-free .button-advantage:hover button:hover,
  .plan-profissional .button-advantage:hover,
  .plan-profissional .button-advantage:hover button:hover {
    background-color: #1d539e;
    color: #ffffff;
    transition: 0.5s ease-in;
  }

  .plan-basic .button-advantage:hover,
  .plan-basic .button-advantage button:hover {
    background-color: #ffffff;
    color: #1d539e;
    transition: 0.5s ease-in;
  }

  .plan-basic .advantages {
    margin-bottom: 23%;
  }

  button {
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.563rem;
    border: none;
    color: #1d539e;
    background-color: transparent;
    width: 100%;
    height: 100%;
    border-radius: 0.625rem;
  }

  .plan-basic .button-advantage,
  .plan-basic button {
    background-color: #1d539e;
    color: #ffffff;
  }

  footer {
    margin-top: 5%;
    padding-bottom: 5%;
  }

  .credits h4,
  a {
    color: #1d539e;
    text-align: center;
  }
}

@media (max-width: 650px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    color: #ffffff;
    overflow-x: hidden;
  }

  .container-full {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container {
    height: 58vh;
    width: 100%;
    background-color: #1d539e;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container2 {
    position: absolute;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    bottom: -38vh;
  }

  .content {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 21vh;
  }

  header {
    width: 77%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
  }

  header h1 {
    font-weight: 700;
    font-size: 3rem;
    line-height: 4.063rem;
    margin: 6% auto 2%;
  }

  header .sub-title {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.563rem;
    text-align: center;
    width: 89%;
  }

  .plans {
    display: flex;
    gap: 1.25rem;
    color: #1e2338;
    margin: 0 auto;
    justify-content: center;
    width: 95vw;
    flex-wrap: wrap;
    height: auto;
  }

  .plan {
    background-color: #ffffff;
    border-radius: 0.652rem;
    width: 42vw;
    height: auto;
    display: flex;
    flex-direction: column;
    border: 1px solid #1d539e;
  }

  .plan:hover {
    border: 1px solid #1e2338;
    transition: 0.5s;
  }

  .plan-free,
  .plan-profissional {
    margin-top: 5.8%;
  }

  .plan-basic {
    margin-top: 5.8%;
  }

  .popular {
    width: 100%;
  }

  .agroup-basic-popular {
    width: 100%;
    height: auto;
    background: #ffcc29;
    box-shadow: 0 0.063rem 0.125rem rgba(142, 150, 185, 0.25);
    border-radius: 0.625rem;
  }

  .agroup-basic-popular {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .paragraph-basic {
    width: 24%;
    height: 30%;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.688rem;
    color: #1d539e;
    margin: 6% 0 6% 6%;
  }

  .border {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    width: 30%;
    height: auto;
    background: #1d539e;
    border-radius: 2.5rem;
    font-weight: 600;
    font-size: 72%;
    line-height: 1rem;
    color: #ffffff;
    margin: 5%;
  }

  .plan-basic .value {
    margin: 3% 6%;
  }

  .plan-free .value,
  .plan-profissional .value {
    margin: 0 0 3% 6%;
  }

  .value .paragraph-plan-basic,
  .value .paragraph-plan-profissional {
    margin: 7% 0 5.5% 3%;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.563rem;
  }

  .value .title-value {
    font-weight: 700;
    font-size: 1.65rem;
    line-height: 3.063rem;
  }

  .value .title-value .small {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.563rem;
  }

  .value .title-value .small .gray {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.563rem;
    color: #828799;
    margin-left: 1.5%;
  }

  .value .description-plan {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.188rem;
    color: #828799;
    margin: 3% 2.063rem 5% 0;
    width: 87%;
  }

  .divisor {
    width: 90%;
    margin: 0 auto;
  }

  .advantages {
    margin: 4% 8% 20% 7%;
    width: 90%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
  }

  .plan-free .advantages {
    margin-bottom: 30%;
  }

  .plan-profissional .advantages {
    margin-bottom: 18%;
  }

  .plan-profissional {
    margin-top: 1%;
  }

  .advantages .img-check {
    width: 1.125rem;
    height: 1.125rem;
    margin-right: 0.938rem;
  }

  .advantage {
    display: flex;
    align-items: center;
    margin-top: 3%;
    margin-right: 10%;
  }

  .advantages .advantage:nth-of-type(1) {
    margin-top: 0;
  }

  .plan-free .advantages .advantage:nth-last-of-type(1) {
    margin-bottom: 17.6%;
  }

  .button-advantage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 3.063rem;
    border: 0.063rem solid #1d539e;
    border-radius: 0.625rem;
    margin: 0 auto;
    margin-bottom: 10%;
  }

  .plan-free .button-advantage:hover,
  .plan-free .button-advantage:hover button:hover,
  .plan-profissional .button-advantage:hover,
  .plan-profissional .button-advantage:hover button:hover {
    background-color: #1d539e;
    color: #ffffff;
    transition: 0.5s ease-in;
  }

  .plan-basic .button-advantage:hover,
  .plan-basic .button-advantage button:hover {
    background-color: #ffffff;
    color: #1d539e;
    transition: 0.5s ease-in;
  }

  .plan-basic .advantages {
    margin-bottom: 23%;
  }

  button {
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.563rem;
    border: none;
    color: #1d539e;
    background-color: transparent;
    width: 100%;
    height: 100%;
    border-radius: 0.625rem;
  }

  .plan-basic .button-advantage,
  .plan-basic button {
    background-color: #1d539e;
    color: #ffffff;
  }

  footer {
    margin-top: 5%;
    padding-bottom: 5%;
  }

  .credits h4,
  a {
    color: #1d539e;
    text-align: center;
  }
}

@media (max-width: 483px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    color: #ffffff;
    overflow-x: hidden;
  }

  .container-full {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container {
    height: 58vh;
    width: 100%;
    background-color: #1d539e;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container2 {
    position: absolute;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    bottom: -42vh;
  }

  .content {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 21vh;
  }

  header {
    width: 77%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
  }

  header h1 {
    font-weight: 700;
    font-size: 3rem;
    line-height: 4.063rem;
    margin: 6% auto 2%;
  }

  header .sub-title {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.563rem;
    text-align: center;
    width: 89%;
  }

  .plans {
    display: flex;
    gap: 1.25rem;
    color: #1e2338;
    margin: 0 auto;
    justify-content: center;
    width: 95vw;
    flex-wrap: wrap;
    height: auto;
  }

  .plan {
    background-color: #ffffff;
    border-radius: 0.652rem;
    width: 42vw;
    height: auto;
    display: flex;
    flex-direction: column;
    border: 1px solid #1d539e;
  }

  .plan:hover {
    border: 1px solid #1e2338;
    transition: 0.5s;
  }

  .plan-free,
  .plan-profissional {
    margin-top: 5.8%;
  }

  .plan-basic {
    margin-top: 5.8%;
  }

  .popular {
    width: 100%;
  }

  .agroup-basic-popular {
    width: 100%;
    height: auto;
    background: #ffcc29;
    box-shadow: 0 0.063rem 0.125rem rgba(142, 150, 185, 0.25);
    border-radius: 0.625rem;
  }

  .agroup-basic-popular {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .paragraph-basic {
    width: 24%;
    height: 30%;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.688rem;
    color: #1d539e;
    margin: 6% 0 6% 6%;
  }

  .border {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    width: 30%;
    height: auto;
    background: #1d539e;
    border-radius: 2.5rem;
    font-weight: 600;
    font-size: 72%;
    line-height: 1rem;
    color: #ffffff;
    margin: 5%;
  }

  .plan-basic .value {
    margin: 3% 6%;
  }

  .plan-free .value,
  .plan-profissional .value {
    margin: 0 0 3% 6%;
  }

  .value .paragraph-plan-basic,
  .value .paragraph-plan-profissional {
    margin: 7% 0 5.5% 3%;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.563rem;
  }

  .value .title-value {
    font-weight: 700;
    font-size: 1.65rem;
    line-height: 3.063rem;
  }

  .value .title-value .small {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.563rem;
  }

  .value .title-value .small .gray {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.563rem;
    color: #828799;
    margin-left: 1.5%;
  }

  .value .description-plan {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.188rem;
    color: #828799;
    margin: 3% 2.063rem 5% 0;
    width: 87%;
  }

  .divisor {
    width: 90%;
    margin: 0 auto;
  }

  .advantages {
    margin: 4% 8% 20% 7%;
    width: 90%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
  }

  .plan-free .advantages {
    margin-bottom: 35%;
  }

  .plan-profissional .advantages {
    margin-bottom: 18%;
  }

  .plan-profissional {
    margin-top: 1%;
  }

  .advantages .img-check {
    width: 1.125rem;
    height: 1.125rem;
    margin-right: 0.938rem;
  }

  .advantage {
    display: flex;
    align-items: center;
    margin-top: 3%;
    margin-right: 10%;
  }

  .advantages .advantage:nth-of-type(1) {
    margin-top: 0;
  }

  .plan-free .advantages .advantage:nth-last-of-type(1) {
    margin-bottom: 17.6%;
  }

  .button-advantage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 3.063rem;
    border: 0.063rem solid #1d539e;
    border-radius: 0.625rem;
    margin: 0 auto;
    margin-bottom: 10%;
  }

  .plan-free .button-advantage:hover,
  .plan-free .button-advantage:hover button:hover,
  .plan-profissional .button-advantage:hover,
  .plan-profissional .button-advantage:hover button:hover {
    background-color: #1d539e;
    color: #ffffff;
    transition: 0.5s ease-in;
  }

  .plan-basic .button-advantage:hover,
  .plan-basic .button-advantage button:hover {
    background-color: #ffffff;
    color: #1d539e;
    transition: 0.5s ease-in;
  }

  .plan-basic .advantages {
    margin-bottom: 23%;
  }

  button {
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.563rem;
    border: none;
    color: #1d539e;
    background-color: transparent;
    width: 100%;
    height: 100%;
    border-radius: 0.625rem;
  }

  .plan-basic .button-advantage,
  .plan-basic button {
    background-color: #1d539e;
    color: #ffffff;
  }

  footer {
    margin-top: 5%;
    padding-bottom: 5%;
  }

  .credits h4,
  a {
    color: #1d539e;
    text-align: center;
  }
}

@media (max-width: 433px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    color: #ffffff;
    overflow-x: hidden;
  }

  .container-full {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container {
    height: 58vh;
    width: 100%;
    background-color: #1d539e;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container2 {
    position: absolute;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    bottom: -42vh;
  }

  .content {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 21vh;
  }

  header {
    width: 87%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
  }

  header h1 {
    font-weight: 700;
    font-size: 3rem;
    line-height: 4.063rem;
    margin: 6% auto 2%;
  }

  header .sub-title {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.563rem;
    text-align: center;
    width: 89%;
  }

  .plans {
    display: flex;
    gap: 1.25rem;
    color: #1e2338;
    margin: 0 auto;
    justify-content: center;
    width: 95vw;
    flex-wrap: wrap;
    height: auto;
  }

  .plan {
    background-color: #ffffff;
    border-radius: 0.652rem;
    width: 75vw;
    height: auto;
    display: flex;
    flex-direction: column;
    border: 1px solid #1d539e;
  }

  .plan:hover {
    border: 1px solid #1e2338;
    transition: 0.5s;
  }

  .plan-free,
  .plan-profissional {
    margin-top: 5.8%;
  }

  .plan-basic {
    margin-top: 5.8%;
  }

  .popular {
    width: 100%;
  }

  .agroup-basic-popular {
    width: 100%;
    height: auto;
    background: #ffcc29;
    box-shadow: 0 0.063rem 0.125rem rgba(142, 150, 185, 0.25);
    border-radius: 0.625rem;
  }

  .agroup-basic-popular {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .paragraph-basic {
    width: 24%;
    height: 30%;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.688rem;
    color: #1d539e;
    margin: 6% 0 6% 6%;
  }

  .border {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    width: 33%;
    height: auto;
    background: #1d539e;
    border-radius: 2.5rem;
    font-weight: 600;
    font-size: 80%;
    line-height: 1rem;
    color: #ffffff;
    margin: 5%;
  }

  .plan-basic .value {
    margin: 3% 6%;
  }

  .plan-free .value,
  .plan-profissional .value {
    margin: 0 0 3% 6%;
  }

  .value .paragraph-plan-basic,
  .value .paragraph-plan-profissional {
    margin: 7% 0 5.5% 3%;
    font-weight: 600;
    font-size: 1.425rem;
    line-height: 1.563rem;
  }

  .value .title-value {
    font-weight: 700;
    font-size: 2rem;
    line-height: 3.063rem;
  }

  .value .title-value .small {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.563rem;
  }

  .value .title-value .small .gray {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.563rem;
    color: #828799;
    margin-left: 1.5%;
  }

  .value .description-plan {
    font-weight: 400;
    font-size: 1.175rem;
    line-height: 1.188rem;
    color: #828799;
    margin: 3% 2.063rem 0 0;
    width: 87%;
  }

  .divisor {
    width: 90%;
    margin: 0 auto;
  }

  .advantages {
    margin: 4% 8% 20% 7%;
    width: 90%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
  }

  .plan-free .advantages {
    margin-bottom: 0;
  }

  .plan-profissional .advantages {
    margin-bottom: 11%;
  }

  .plan-profissional {
    margin-top: 1%;
  }

  .advantages .img-check {
    width: 1.125rem;
    height: 1.125rem;
    margin-right: 0.938rem;
  }

  .advantage {
    display: flex;
    align-items: center;
    margin-top: 3%;
    margin-right: 10%;
  }

  .advantages .advantage:nth-of-type(1) {
    margin-top: 0;
  }

  .plan-free .advantages .advantage:nth-last-of-type(1) {
    margin-bottom: 17.6%;
  }

  .button-advantage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 3.063rem;
    border: 0.063rem solid #1d539e;
    border-radius: 0.625rem;
    margin: 0 auto;
    margin-bottom: 10%;
  }

  .plan-free .button-advantage:hover,
  .plan-free .button-advantage:hover button:hover,
  .plan-profissional .button-advantage:hover,
  .plan-profissional .button-advantage:hover button:hover {
    background-color: #1d539e;
    color: #ffffff;
    transition: 0.5s ease-in;
  }

  .plan-basic .button-advantage:hover,
  .plan-basic .button-advantage button:hover {
    background-color: #ffffff;
    color: #1d539e;
    transition: 0.5s ease-in;
  }

  .plan-basic .advantages {
    margin-bottom: 13%;
  }

  button {
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.563rem;
    border: none;
    color: #1d539e;
    background-color: transparent;
    width: 100%;
    height: 100%;
    border-radius: 0.625rem;
  }

  .plan-basic .button-advantage,
  .plan-basic button {
    background-color: #1d539e;
    color: #ffffff;
  }

  footer {
    margin-top: 5%;
    padding-bottom: 5%;
  }

  .credits h4,
  a {
    color: #1d539e;
    text-align: center;
  }
}

@media (max-width: 384px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    color: #ffffff;
    overflow-x: hidden;
  }

  .container-full {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container {
    height: 70vh;
    width: 100%;
    background-color: #1d539e;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container2 {
    position: absolute;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    bottom: -50vh;
  }

  .content {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 21vh;
  }

  header {
    width: 87%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
  }

  header h1 {
    font-weight: 700;
    font-size: 3rem;
    line-height: 4.063rem;
    margin: 6% auto 2%;
  }

  header .sub-title {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.563rem;
    text-align: center;
    width: 89%;
  }

  .plans {
    display: flex;
    gap: 1.25rem;
    color: #1e2338;
    margin: 0 auto;
    justify-content: center;
    width: 95vw;
    flex-wrap: wrap;
    height: auto;
  }

  .plan {
    background-color: #ffffff;
    border-radius: 0.652rem;
    width: 75vw;
    height: auto;
    display: flex;
    flex-direction: column;
    border: 1px solid #1d539e;
  }

  .plan:hover {
    border: 1px solid #1e2338;
    transition: 0.5s;
  }

  .plan-free,
  .plan-profissional {
    margin-top: 5.8%;
  }

  .plan-basic {
    margin-top: 5.8%;
  }

  .popular {
    width: 100%;
  }

  .agroup-basic-popular {
    width: 100%;
    height: auto;
    background: #ffcc29;
    box-shadow: 0 0.063rem 0.125rem rgba(142, 150, 185, 0.25);
    border-radius: 0.625rem;
  }

  .agroup-basic-popular {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .paragraph-basic {
    width: 24%;
    height: 30%;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.688rem;
    color: #1d539e;
    margin: 6% 0 6% 6%;
  }

  .border {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    width: 33%;
    height: auto;
    background: #1d539e;
    border-radius: 2.5rem;
    font-weight: 600;
    font-size: 80%;
    line-height: 1rem;
    color: #ffffff;
    margin: 5%;
  }

  .plan-basic .value {
    margin: 3% 6%;
  }

  .plan-free .value,
  .plan-profissional .value {
    margin: 0 0 3% 6%;
  }

  .value .paragraph-plan-basic,
  .value .paragraph-plan-profissional {
    margin: 7% 0 5.5% 3%;
    font-weight: 600;
    font-size: 1.425rem;
    line-height: 1.563rem;
  }

  .value .title-value {
    font-weight: 700;
    font-size: 2rem;
    line-height: 3.063rem;
  }

  .value .title-value .small {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.563rem;
  }

  .value .title-value .small .gray {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.563rem;
    color: #828799;
    margin-left: 1.5%;
  }

  .value .description-plan {
    font-weight: 400;
    font-size: 1.175rem;
    line-height: 1.188rem;
    color: #828799;
    margin: 3% 2.063rem 0 0;
    width: 87%;
  }

  .divisor {
    width: 90%;
    margin: 0 auto;
  }

  .advantages {
    margin: 4% 8% 20% 7%;
    width: 90%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
  }

  .plan-free .advantages {
    margin-bottom: 0;
  }

  .plan-profissional .advantages {
    margin-bottom: 11%;
  }

  .plan-profissional {
    margin-top: 1%;
  }

  .advantages .img-check {
    width: 1.125rem;
    height: 1.125rem;
    margin-right: 0.938rem;
  }

  .advantage {
    display: flex;
    align-items: center;
    margin-top: 3%;
    margin-right: 10%;
  }

  .advantages .advantage:nth-of-type(1) {
    margin-top: 0;
  }

  .plan-free .advantages .advantage:nth-last-of-type(1) {
    margin-bottom: 17.6%;
  }

  .button-advantage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 3.063rem;
    border: 0.063rem solid #1d539e;
    border-radius: 0.625rem;
    margin: 0 auto;
    margin-bottom: 10%;
  }

  .plan-free .button-advantage:hover,
  .plan-free .button-advantage:hover button:hover,
  .plan-profissional .button-advantage:hover,
  .plan-profissional .button-advantage:hover button:hover {
    background-color: #1d539e;
    color: #ffffff;
    transition: 0.5s ease-in;
  }

  .plan-basic .button-advantage:hover,
  .plan-basic .button-advantage button:hover {
    background-color: #ffffff;
    color: #1d539e;
    transition: 0.5s ease-in;
  }

  .plan-basic .advantages {
    margin-bottom: 13%;
  }

  button {
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.563rem;
    border: none;
    color: #1d539e;
    background-color: transparent;
    width: 100%;
    height: 100%;
    border-radius: 0.625rem;
  }

  .plan-basic .button-advantage,
  .plan-basic button {
    background-color: #1d539e;
    color: #ffffff;
  }

  footer {
    margin-top: 5%;
    padding-bottom: 5%;
  }

  .credits h4,
  a {
    color: #1d539e;
    text-align: center;
  }
}

@media (max-width: 294px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    color: #ffffff;
    overflow-x: hidden;
  }

  .container-full {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container {
    height: 75vh;
    width: 100%;
    background-color: #1d539e;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container2 {
    position: absolute;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    bottom: -55vh;
  }

  .content {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 21vh;
  }

  header {
    width: 87%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
  }

  header h1 {
    font-weight: 700;
    font-size: 3rem;
    line-height: 4.063rem;
    margin: 6% auto 2%;
  }

  header .sub-title {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.563rem;
    text-align: center;
    width: 89%;
  }

  .plans {
    display: flex;
    gap: 1.25rem;
    color: #1e2338;
    margin: 0 auto;
    justify-content: center;
    width: 95vw;
    flex-wrap: wrap;
    height: auto;
  }

  .plan {
    background-color: #ffffff;
    border-radius: 0.652rem;
    width: 75vw;
    height: auto;
    display: flex;
    flex-direction: column;
    border: 1px solid #1d539e;
  }

  .plan:hover {
    border: 1px solid #1e2338;
    transition: 0.5s;
  }

  .plan-free,
  .plan-profissional {
    margin-top: 5.8%;
  }

  .plan-basic {
    margin-top: 5.8%;
  }

  .popular {
    width: 100%;
  }

  .agroup-basic-popular {
    width: 100%;
    height: auto;
    background: #ffcc29;
    box-shadow: 0 0.063rem 0.125rem rgba(142, 150, 185, 0.25);
    border-radius: 0.625rem;
  }

  .agroup-basic-popular {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .paragraph-basic {
    width: 24%;
    height: 30%;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.688rem;
    color: #1d539e;
    margin: 6% 0 6% 6%;
  }

  .border {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    width: 33%;
    height: auto;
    background: #1d539e;
    border-radius: 2.5rem;
    font-weight: 600;
    font-size: 80%;
    line-height: 1rem;
    color: #ffffff;
    margin: 5%;
  }

  .plan-basic .value {
    margin: 3% 6%;
  }

  .plan-free .value,
  .plan-profissional .value {
    margin: 0 0 3% 6%;
  }

  .value .paragraph-plan-basic,
  .value .paragraph-plan-profissional {
    margin: 7% 0 5.5% 3%;
    font-weight: 600;
    font-size: 1.425rem;
    line-height: 1.563rem;
  }

  .value .title-value {
    font-weight: 700;
    font-size: 2rem;
    line-height: 3.063rem;
  }

  .value .title-value .small {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.563rem;
  }

  .value .title-value .small .gray {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.563rem;
    color: #828799;
    margin-left: 1.5%;
  }

  .value .description-plan {
    font-weight: 400;
    font-size: 1.175rem;
    line-height: 1.188rem;
    color: #828799;
    margin: 3% 2.063rem 0 0;
    width: 87%;
  }

  .divisor {
    width: 90%;
    margin: 0 auto;
  }

  .advantages {
    margin: 4% 8% 20% 7%;
    width: 90%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
  }

  .plan-free .advantages {
    margin-bottom: 0;
  }

  .plan-profissional .advantages {
    margin-bottom: 11%;
  }

  .plan-profissional {
    margin-top: 1%;
  }

  .advantages .img-check {
    width: 1.125rem;
    height: 1.125rem;
    margin-right: 0.938rem;
  }

  .advantage {
    display: flex;
    align-items: center;
    margin-top: 3%;
    margin-right: 10%;
  }

  .advantages .advantage:nth-of-type(1) {
    margin-top: 0;
  }

  .plan-free .advantages .advantage:nth-last-of-type(1) {
    margin-bottom: 17.6%;
  }

  .button-advantage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 3.063rem;
    border: 0.063rem solid #1d539e;
    border-radius: 0.625rem;
    margin: 0 auto;
    margin-bottom: 10%;
  }

  .plan-free .button-advantage:hover,
  .plan-free .button-advantage:hover button:hover,
  .plan-profissional .button-advantage:hover,
  .plan-profissional .button-advantage:hover button:hover {
    background-color: #1d539e;
    color: #ffffff;
    transition: 0.5s ease-in;
  }

  .plan-basic .button-advantage:hover,
  .plan-basic .button-advantage button:hover {
    background-color: #ffffff;
    color: #1d539e;
    transition: 0.5s ease-in;
  }

  .plan-basic .advantages {
    margin-bottom: 13%;
  }

  button {
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.563rem;
    border: none;
    color: #1d539e;
    background-color: transparent;
    width: 100%;
    height: 100%;
    border-radius: 0.625rem;
  }

  .plan-basic .button-advantage,
  .plan-basic button {
    background-color: #1d539e;
    color: #ffffff;
  }

  footer {
    margin-top: 5%;
    padding-bottom: 5%;
  }

  .credits h4,
  a {
    color: #1d539e;
    text-align: center;
  }
}
